{% extends 'dashboard/dashboard-base.html' %} 
{% block html %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    {% block css %} 
    {{ block.super }} 
    {# we can add more css here #}
    {% endblock %}
    <title>Dashboard | {% block title %}{% endblock %}</title>
  </head>

  <body>
    {% block content %}{% endblock %}
    <noscript
      >You need to enable JavaScript to run this app.</noscript
    >
    {% block js %} {{ block.super }} {# we can add more js here #} 
    {% endblock %}
  </body>
</html>
{% endblock %}
